exportPattern("^[[:alpha:]]+")
import(rstan, except=c(traceplot))
import(limma)
import(coda)
import(parallel)
import(bridgesampling)
import(bayestestR)
importFrom(Rcpp, sourceCpp)
importFrom("stats", "approxfun", "lowess", "model.matrix", "rchisq","rgamma", "rnorm", "rpois")
importFrom("utils", "write.table")

